html {
  scroll-behavior: smooth;
}

nav {
  background-color: #7d9bc3;
}

footer {
  background-color: #7d9bc3;
}

h2 {
  color: #7d9bc3;
}

.btn-send button {
  background-color: #7d9bc3;
  border-color: #ffff;
}

.jumbotron {
  padding-top: 6rem;
  background-color: #7d9bc3;
  margin-bottom: 1rem;
}

#projects {
  background-color: #e2edff;
}

section {
  padding-top: 5rem;
}
